<h1><%= @tower.name.upcase %> Ranking</h1>
<p>Find me in app/views/rankings/show.html.erb</p>

<% @topics.each do |topic| %>
<div class="col-md-4">
    <div class = "panel panel-default">
       <div class = "panel-heading">
          <%= topic.name.upcase %>
       </div>
       
        <div class = "panel-body">
            <% @usersProgress = Progress.where(topics_id: topic.id).order(level: :desc).limit(10) %>
            <ol> 
                <% @usersProgress.each do |userProgress| %>
                <li><%= User.find(userProgress.users_id).name %></li>
                <% end %>
            </ol>
        </div>
    </div>
</div>
<% end %>