<table class = "table table-hover">
    <caption>Users List</caption>
   
    <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Contact</th>
        </tr>
    </thead>

    <tbody>
        <% @users.each do |user| %>
        <tr>
            <td><%= user.first_name.capitalize %></td>
            <td><%= user.last_name.capitalize %></td>
            <td><%= user.email %></td>
            <td><%= user.contact %></td>
        </tr>
        <% end %>
    </tbody>
   
</table>